<div class="row">   
  <h1> (<small ng-bind="totalPesquisa"> </small>) Resultado da pesquisa para: <small ng-bind="termoPesquisa"></small></h1>             
  <div class="col-sm-6 col-md-3 grid" ng-repeat="item in listaLivrosResult | orderBy:orderProp track by $index">
      <div class="thumbnail">
          <a href="#!/livroDetalhe/{{item.id}}" title="{{item.volumeInfo.title}}">
              <img src="img/angular.png" ng-src="{{item.volumeInfo.imageLinks.smallThumbnail}}" alt=""/></a>
          <div class="caption">
              <h3>{{ item.volumeInfo.title | limitTo: 30 }}{{item.volumeInfo.title.length > 30 ? '...' : ''}}</h3>
              <h5>Autor:<span>{{item.volumeInfo.authors | formatFilter | limitTo: 40 }}{{item.volumeInfo.authors.length > 40 ? '...' : ''}}</span></h5>
              <p>Data publicacao: {{item.volumeInfo.publishedDate}}</p>
              <p>
                <a href="#!/livroDetalhe/{{item.id}}" class="btn btn-primary" role="button">Detalhes</a> 
                <a href="" class="btn btn-default right glyphicon glyphicon-heart-empty" role="button" ng-click="adicionarFavorito(item)"></a>
              </p>
          </div>
      </div>
  </div>

  <pagination 
    ng-model="currentPage"
    total-items="listaLivrosResult.length"
    max-size="maxSize"  
    boundary-links="true">
  </pagination>                  
</div>
      